 img{
            height: 300px;
            width: 100%;
        }
        .card{
            width: 400px;
            height: 500px;
            background-color: blue;
            display: inline-block;
            margin: 10px;
        }
        button{
            padding: 20px 30px;
            margin-left: 30px;
            font-size: large;
            border-radius: 10px;
        }
